{# base.html #}
{# extend this to show the same content out of every page  that extends out of this #}
{# in this, we show a title, the current user, a menu bar, and their current games list #}

<html>
    <head>
        {# SET THE TITLE OF THE PAGE (window bar) #}
        {# check if the title variable exists #}
        {% if title %}
        <title>{{ title }} | suicide chess</title>
        {% else %}
        {# just set it to "suicide chess" #}
        <title>suicide chess</title>
        {% endif %}
        {% block head %}
        {% endblock %}
    </head>

    <body>
        {# this is a container to show all "flashed" messages. if you go to the python code, if you see flash() and then redirect(), this is where the message inside flash() will appear #}
        <div class='flash'>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>

        {% if debug %}
        <div class="debug">
            current user authenticated: {{ current_user.is_authenticated }}
        </div>
        {% endif %}

        <div class='userinfo'>
            {% if current_user.is_authenticated %}
            <h3>current user: {{ current_user.display_name }}</h3> {# ADDED BY JOLEENA: gets display name #}
            {% else %}
            <h3>not logged in</h3>
            {% endif %}
        </div>

        <div class='menubar'>
            <a href="{{ url_for('index') }}">home</a>
            <a href="{{ url_for('all_users') }}">all users</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('new_game', variant='classic', mode='random') }}">new classic random</a>
                <a href="{{ url_for('new_game', variant='classic', mode='friend') }}">new classic friend</a>
                <a href="{{ url_for('log_out') }}">log out</a>
                <a href="{{ url_for('edit_profile') }}">edit profile</a>
            {% else %}
                <a href="{{ url_for('google.login') }}">log in</a>
            {% endif %}
        </div>

        {% if current_user.is_authenticated %}
        <div class="gamelist">
            <h3>current games !!!</h3>
            {% set current_games = current_user.get_db_property("currentGames") %}
            {% if current_games %}
                {% for room_id in current_games %}
                    {% if room_id %}
            <a href="{{ url_for('play', room_id=room_id) }}">{{ room_id }}</a><span> <b>status:</b> {{ room_manager.get_status(room_id) }} <b>players:</b> {{ room_manager.get_players_by_display_name(room_id) }}</span>
                        <br/>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>no current games : (</p>
            {% endif %}
        </div>
        {% endif %}

        <div class='content'>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

