<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>flaskbase</title>
        {% endif %}
    </head>

    <body>
        <div class='flash'>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>

        {% if debug %}
        <div class="debug">
            current user authenticated: {{ current_user.is_authenticated }}
        </div>
        {% endif %}

        <div class='userinfo'>
            {% if current_user.is_authenticated %}
            <h3>current user: {{ current_user.get_db_property("displayName") }}</h3> {# ADDED BY JOLEENA: gets display name #}
            {% else %}
            <h3>not logged in</h3>
            {% endif %}
        </div>

        <div class='menubar'>
            <a href="{{ url_for('index') }}">home</a>
            {% if current_user.is_authenticated %}
                {% if current_user.get_auth_property("emailVerified") %}
                <a href="{{ url_for('play_blitz') }}">blitz</a>
                <a href="{{ url_for('play_classic') }}">classic</a>
                {% else %}
                <a href="{{ url_for('resend_email_verification') }}">resend email verification</a>
                {% endif %}
            <a href="{{ url_for('log_out') }}">log out</a>
            <a href="{{ url_for('delete_account') }}">delete account</a>
            {% else %}
            <a href="{{ url_for('log_in') }}">log in</a>
            <a href="{{ url_for('sign_up') }}">sign up</a>
            {% endif %}
        </div>
        <div class='content'>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>

