{# base.html #}
{# extend this to show the same content out of every page  that extends out of this #}
{# in this, we show a title, the current user, a menu bar, and their current games list #}

{% if current_user.is_authenticated %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="theme-color" content="#000000">
        <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond:600" rel="stylesheet">
        <style>
        @import url('https://fonts.googleapis.com/css?family=EB+Garamond:600');
        </style>
        <title>Suicide Chess</title>

        {# extra head content #}
        {% block head %}
        {% endblock %}
    </head>

    <body>
    <div class="header">
        <h1 class="logo"><a class="logo-link" href="{{ url_for("index") }}">SUICIDE CHESS</a></h1>
              <ul class="menu-bar" style="font-family: Arial, Helvetica, sans-serif">
                  <li class="menu-item">
                      <a href="javascript:void(0)" class="dropbtn">New Game</a>
                      <div class="dropdown-content">
                          <div class="dropdown-list">
                              <a class="dropdown-item" href="{{ url_for('new_game', variant='classic', mode='friend') }}">Friend</a>
                              <a class="dropdown-item" href="{{ url_for('new_game', variant='classic', mode='random') }}">Random</a>
                          </div>
                      </div>
                  </li>
                  <li class="menu-item">
                      <a href="javascript:void(0)" class="dropbtn">Current Games</a>
                      {% set current_games = current_user.get_db_property("currentGames") %}
                      {% if current_games %}
                      <div class="dropdown-content">
                          <div class="dropdown-list">
                            {% for room_id in current_games %}
                                {% if room_id %}
                              <a class="dropdown-item" href="{{ url_for('play', room_id=room_id) }}">{{ room_id }}</a>
                              {% endif %}
                            {% endfor%}
                          </div>
                      </div>
                      {% endif %}
                  </li>
                  <li class="menu-item"><a href="{{ url_for('index') }}">My Profile</a></li>
                  <li class="menu-item"><a href="{{ url_for('all_users') }}">All Users</a></li>
                  <li class="menu-item"><a href="{{ url_for('log_out') }}">Log Out</a></li>
              </ul>
          </div>
        {# main page content #}
        <div class="site-container">
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    <br/>
    <footer class="site-footer">
        For issues, bugs, or feature requests, please go <a href="https://gitreports.com/issue/ika-musuko/SuicideChess">here</a>
    </footer>
    </body>
{% endif %}