{# edit_profile.html #}
{# form allowing the user to edit their profile #}

{# {% extends "base.html" %}
{% block head %}
{% endblock %}
{% set title = "edit profile" %}
{% block content %}
    <form action="" method="post" class="loginform">
        display name{{ form.display_name() }}<br/>
        email: {{ current_user.get_db_property("email") }}<br/>
        bio: {{ form.bio() }}<br/>
        {{ form.submit() }}<br/>
        {{ form.csrf_token }} {# if you don't have this csrf token the form will not submit (XSS protection, see CS166) #
    </form>
{% endblock %} #}
{% if current_user.is_authenticated %}
{% with user_id=current_user.id, user=current_user.as_dict() %}
        {% include "base.html" %}
    {% endwith %}
    {% endif %}
{% block head %}


{% endblock %}
{% set title = "edit profile" %}

{% block content %}
      <div class = "profile-content" style="font-family: Arial, Helvetica, sans-serif">
        <h2>Edit Profile</h2> <br>
        <form action="" method="post" class="loginform">
            <div class = username>
                <p><strong>Curent Username: </strong>{{ current_user.display_name }}</p>
                <p><strong>Enter new username:</strong> {{form.display_name()}}</p>
            </div>

            <div class = bio>
                <p><strong>Edit Bio</strong></p>
                {{ form.bio() }}
            </div>
            <br>
            {{ form.submit() }}
            {{ form.csrf_token }}
        </form>
      </div>
{% endblock %}
