{% extends "base.html" %}
{% set title = "play "+room_id %}
{% block content %}
<h2>GAME!!!! {{ room_id }}</h2>


{% set waiting_for_friend = room["mode"] == "friend" and room["status"] == "waiting" %}

{% if waiting_for_friend %}
<p>this is a FRIEND room... </p>
{% set friend_url = url_for('invite', room_id=room_id, access_code=room['accessCode']) %}
<p>right click <a href="{{ friend_url }}" id="inviteLink">here</a>, click "copy to clipboard" and then send it to a friend so they can play too!</p>
{% endif %}

<p>
    <b>ROOM DATA</b>
    {{ room }}
</p>


{% if room["status"] == "finished" %}
    <b>this game is OVER!!!</b>
    <p>winner: {{ room["winner"] }}</p>
    <p>move list: {{ room["moveList"] }}</p>
    {# has the current user clicked rematch yet #}
    {% if room["rematchReady"][current_user.id] %} {# YES THEY HAVE #}
        <h3>waiting for the opponent to rematch...</h3>
    {% else %}
        <a href="{{ url_for('rematch', room_id=room_id) }}">REMATCH</a>
    {% endif %}
    <a href="{{ url_for('exit_game', room_id=room_id) }}">EXIT</a>

{% elif room["status"] == "inprogress" %}
    {# NOTE: DO NOT USE /simulate_game IN THE TEMPLATE! THIS IS ONLY FOR TESTING. ERIC WILL DEAL WITH IT IN THE REACT APP #}
    {# to contain the react app, i think you just do <div id="root"></div> here instead #}
    <a href="{{ url_for('simulate_game', room_id=room_id) }}">simulate game</a>

{% else %} {# room is waiting #}
    <h3>waiting for opponent......</h3>
    <a href="{{ url_for('exit_game', room_id=room_id) }}">EXIT</a>
{% endif %}


{% endblock %}
