{% extends "base.html" %}
{% block content %}
<h2>GAME!!!! {{ room_id }}</h2>
<p>
    {{ room }}
</p>

{% if room["status"] == "finished" %}
    {# has the current user clicked rematch yet #}
    {% if room["rematchReady"][current_user.id] %} {# YES THEY HAVE #}
        <h3>waiting for the opponent to rematch...</h3>
    {% else %}
        <a href="{{ url_for('rematch', room_id=room_id) }}">REMATCH</a>
    {% endif %}
    <a href="{{ url_for('exit_game', room_id=room_id) }}">EXIT</a>

{% elif room["status"] == "inprogress" %}
    {# NOTE: DO NOT USE /simulate_game IN THE TEMPLATE! THIS IS ONLY FOR TESTING. ERIC WILL DEAL WITH IT IN THE REACT APP #}
    {# to contain the react app, i think you just do <div class="app"></div> here instead #}
    <a href="{{ url_for('simulate_game', room_id=room_id) }}">simulate game</a>

{% else %} {# room is waiting #}
    <h3>waiting for opponent......</h3>
{% endif %}

{% endblock %}
