{# <h2>{{ user["displayName"] }}'s Profile</h2>
<div>
    <h4>User Information</h4>
    <b>id: </b>{{ user_id }}<br/>
    <b>joined on: </b>{{ user["joinedOn"] }}<br/>
    <b>last here: </b>{{ user["lastHere"] }}<br/>
    <b>bio: </b>{{ user["bio"] }}<br/>

    <h4>Player Statistics</h4>
    <b>wins: </b>{{ user["wins"] }}<br/>
    <b>losses: </b>{{ user["losses"] }}<br/>
    <b>draws: </b>{{ user["draws"] }}<br/>

    <h4>Game Histories</h4>
    {% set game_histories = user["gameHistories"] %}
    {% if game_histories %}
        <ul class="gameHistories">
        {% for room_id, game_history in game_histories.items() %}
            <li class="gameHistoryItem"><b>{{ room_id }}</b>
                <ul class="gameHistory">
                    <li class="winner">Winner: {{ game_history["winner"] }}</li>
                    <li class="timeFinished">Time finished: {{ game_history["timeFinished"] }}</li>
                    <li class="moveList">Move List: {{ game_history["moveList"] }}</li>
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div> #}



{% if current_user.is_authenticated %}
{% with user_id=current_user.id, user=current_user.as_dict() %}
        {% include "base.html" %}
    {% endwith %}
    {% endif %}



<html lang="en">
  <head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="stylesheet" href="static/base.css">
    <title>Suicide Chess</title>
  </head>

  <body>
      <div class = "content" style="font-family: Arial, Helvetica, sans-serif">
        <h2>{{ user["displayName"] }}'s Profile</h2> <br>
          <div class="info-container">
              <div class = "user-info">
               <h2>User Information</h2>
                  <p><strong>Player ID: </strong>{{ user_id }}</p>
                  <p><strong>Joined on: </strong>{{ user["joinedOn"] }}</p>
                  <p><strong>Last here: </strong>{{ user["lastHere"] }}</p> <br>

                  <p><strong>Bio: </strong></p>
                    <p>{{ user["bio"] }}</p> <br>

                  <a href="{{ url_for('edit_profile') }}" class="button">Edit Profile </a> <br> <br>
              </div>
              <div class="stats">
                  <h2>Player Statistics</h2>
                      <p><strong>Wins:</strong> {{ user["wins"] }}</p>
                      <p><strong>Losses:</strong> {{ user["losses"] }}</p>
                      <p><strong>Draws:</strong> {{ user["draws"] }}</p> <br>
              </div>
          </div>
          <div class="game-histories">
              <h3>Game Histories </h3>
              <p>{% set game_histories = user["gameHistories"] %}
    {% if game_histories %}
        <ul class="gameHistories">
        {% for room_id, game_history in game_histories.items() %}
            <li class="gameHistoryItem"><b>{{ room_id }}</b>
                <ul class="gameHistory">
                    <li class="winner">Winner: {{ game_history["winner"] }}</li>
                    <li class="timeFinished">Time finished: {{ game_history["timeFinished"] }}</li>
                    <li class="moveList">Move List: {{ game_history["moveList"] }}</li>
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% endif %}</p>
          </div>
      </div>
  </body>
</html>
