{# user_profile.html #}
{# view showing a user's information #}

<h2>{{ user["displayName"] }}'s Profile</h2>
<div>
    <h4>User Information</h4>
    <b>id: </b>{{ user_id }}<br/>
    <b>joined on: </b>{{ user["joinedOn"] }}<br/>
    <b>last here: </b>{{ user["lastHere"] }}<br/>
    <b>bio: </b>{{ user["bio"] }}<br/>

    <h4>Player Statistics</h4>
    <b>wins: </b>{{ user["wins"] }}<br/>
    <b>losses: </b>{{ user["losses"] }}<br/>
    <b>draws: </b>{{ user["draws"] }}<br/>

    <h4>Game Histories</h4>
    {% set game_histories = user["gameHistories"] %}
    {% if game_histories %}
        <ul class="gameHistories">
        {% for room_id, game_history in game_histories.items() %}
            <li class="gameHistoryItem"><b>{{ room_id }}</b>
                <ul class="gameHistory">
                    <li class="winner">Winner: {{ game_history["winner"] }}</li>
                    <li class="timeFinished">Time finished: {{ game_history["timeFinished"] }}</li>
                    <li class="moveList">Move List: {{ game_history["moveList"] }}</li>
                </ul>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>
