body {
    margin: auto;
    background-color: black;
    color: white;
}

.welcome-message {
    font-family: 'EB Garamond','Garamond', serif;
    font-size: 47px;
    white-space: nowrap;
    text-align: center;
}

.signup-message {
    font-family: 'EB Garamond','Garamond', serif;
    white-space: nowrap;
    text-align: center;
}

#google-signup {
    align-self: center;
}

#google-signup-img{
    width: 50%;
    transform: translate(50%, 0);
}

.center-column {
    align-self: center;
}


.center-row {
    display: flex;
    align-items: center;
    transform: translate(0, 50%);
    justify-content: center;
}

.text{
    padding: 10px;
    width: 50%;

}

.pawn{
    align-self: center;
    width: 320px;
    height: 320px;
    display: inline;
}

