<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>flaskbase</title>
        {% endif %}
    </head>
    
    <body>
        <div class='flash'>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        
        <div class='userinfo'>
        </div>
        
        <div class='menubar'>
            <a href="{{ url_for('log_in') }}">log in</a>
            <a href="{{ url_for('sign_up') }}">sign up</a>
        </div>
        <div class='content'>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>


