<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>flaskbase</title>
        {% endif %}
    </head>

    <body>
        <div class='flash'>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>

        <div class='userinfo'>
            {% if pyre_auth.current_user %}
            <h3>current user: {{ current_user_db.get_property("displayName") }}</h3>
            {% else %}
            <h3>not logged in</h3>
            {% endif %}
        </div>

        <div class='menubar'>
            <a href="{{ url_for('index') }}">home</a>
            {% if pyre_auth.current_user %}
                {% if current_user_auth.get_property("emailVerified") %}
                <a href="{{ url_for('play_random') }}">2 player random</a>
                <a href="{{ url_for('play_friend') }}">2 player friend</a>
                {% else %}
                <a href="{{ url_for('resend_email_verification') }}">resend email verification</a>
                {% endif %}
            <a href="{{ url_for('log_out') }}">log out</a>
            <a href="{{ url_for('delete_account') }}">delete account</a>
            {% else %}
            <a href="{{ url_for('log_in') }}">log in</a>
            <a href="{{ url_for('sign_up') }}">sign up</a>
            {% endif %}
        </div>
        <div class='content'>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>

